
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../../img/San\ andres.jpg");
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    color: #1b1a1a;
    margin-top: 20px;
}

.item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex; /* Utilizamos flexbox para colocar la imagen y el texto en l�nea */
}

.item img {
    max-width: 300px; /* Tama�o deseado para todas las im�genes */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.item .text {
    flex: 1; /* El texto ocupar� todo el espacio restante */
}

.item h2 {
    margin-bottom: 10px; /* Espacio entre el t�tulo y el p�rrafo */
}

.item p {
    color: #000000;
}

/* Estilos de encabezado y men� */
header {
    padding: 10px 20px;
    color: #fff;
}

header h4 {
    color: #000; /* Cambia el color del texto a negro */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease; /* Transici�n gradual para cambios en el men� */
}

#menu_bx {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu_bx li {
    display: inline-block;
    margin-right: 20px;
}

#menu_bx li:last-child {
    margin-right: 0;
}

#menu_bx li a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
}

#menu_bx li a:hover {
    color: #ffcc00;
}

/* Estilos para dispositivos m�s peque�os */
@media screen and (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: center;
    }

    .item img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .item .text {
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center; /* Centrar el men� verticalmente */
        justify-content: center; /* Centrar el men� horizontalmente */
        height: auto; /* Ajustar autom�ticamente la altura del men� */
        overflow: hidden; /* Ocultar el men� desbordado */
        max-height: none; /* Eliminar la altura m�xima para que el men� pueda crecer verticalmente */
    }

    #menu_bx {
        flex-direction: column;
        align-items: center; /* Centrar los elementos del men� verticalmente */
    }

    #menu_bx li {
        display: block;
        margin: 10px 0;
    }

    /* Mostrar el men� cuando se activa */
    nav.active {
        max-height: none; /* Eliminar la altura m�xima para que el men� pueda crecer verticalmente */
    }
}

.menu-link {
    color: rgb(0, 0, 0); /* Color normal */
    cursor: pointer; /* Cambia el cursor a una mano al pasar el cursor sobre el elemento */
}

.menu-link:hover {
    text-decoration: underline; /* Subraya el texto al pasar el cursor sobre el elemento */
}
